<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout :: head"></head>
<body>
<nav th:replace="admin/layout :: header"></nav>

  <th:block th:if="${#lists.isEmpty(locations)}">
        <h3>No Location</h3>
    </th:block>

    <th:block th:unless="${#lists.isEmpty(locations)}">
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>LOCATION ID</th>
                    <th>STREET ADDRESS</th>
                    <th>POSTAL CODE</th>
                    <th>CITY</th>
                    <th>STATE PROVINCE</th>
                    <th>COUNTRY NAME</th>
                   
                </tr>
                </thead>
                <tbody>
                <tr th:each="location : ${locations}">
                    <td th:text="${location.location_id}"></td>
                    <td th:text="${location.street_address}"></td>
                    <td th:text="${location.postal_code}"></td>
                      <td th:text="${location.city}"></td>
                    <td th:text="${location.state_province}"></td>
             
                  <td th:text="${location.country.country_name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
<footer th:replace="admin/layout :: footer"></footer>


</body>
</html>