<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout :: head"></head>
<body>
<nav th:replace="admin/layout :: header"></nav>



<div class="container main-content list">

  <th:block th:if="${#lists.isEmpty(regions)}">
        <h3>No employee</h3>
    </th:block>

    <th:block th:unless="${#lists.isEmpty(regions)}">
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Regions ID</th>
                    <th>Regions Name</th>
                   
                </tr>
                </thead>
                <tbody>
                <tr th:each="region : ${regions}">
                    <td th:text="${region.regions_id}"></td>
                    <td th:text="${region.regions_name}"></td>
                   
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
</div>


<footer th:replace="admin/layout :: footer"></footer>
</body>
</html>